main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
  background-image: url(https://img.freepik.com/free-vector/gradient-zoom-effect-blue-background_23-2149762303.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

img {
  image-rendering: pixelated;
  filter: brightness(0%);
  width: 400px;
}

form {
  display: flex;
}

section {
  font-size: xxx-large;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.show {
  filter: none;
}

.icon-list {
  margin: 1rem 0;
}